/*
    Project: C&W Redesign
    Date: 11/24/21
    Version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* Basic Styling */
*, ::before, ::after {
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 20px;  
    --primary: #B3612B;
    --secondary: #D18E62;
    --tertiary: #f2f2f2;
    --black: #2d2d2d;
    --white: #fafafa; 
}

body {
    font-size: 1em;
    line-height: 1.25em;
    color: var(--black);
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.25em;
    font-weight: 500;
    margin: 1em 0;
    color: var(--primary);
}

h1 {
    font-size: 2.rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.white {
    color: var(--white);
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
/* End of Basic Styling */

/* Links */
a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}
/* End of Links */

/* Buttons */
.button-primary, .button-secondary {
    display: inline-block;
    overflow: hidden;
    padding: 0.375rem 0.75rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.test {
    background-color: var(--black);
    height: 200px;
}

.button-primary {
    background-color: var(--primary);
    border: 3px solid var(--primary);
}

.button-primary:hover {
    background-color: var(--secondary);
    border: 3px solid var(--secondary);
    color: var(--white);
}

.button-secondary {
    background: transparent;
    border: 3px solid var(--white);
}

.button-secondary:hover {
    background-color: var(--white);
    border: 3px solid var(--white);
    color: var(--primary);
}

@media screen and (min-width: 992px) {
    .button-primary, .button-secondary {
        width: 250px;
    }
}
/* End of Buttons */

/* Main Navigation and Header */
header{
    padding: 1rem;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.navbar-brand {
    display: block;
    overflow: hidden;
    background: url("../img/logo.svg") no-repeat 0 0/ contain transparent;
    text-indent: -9999999999px;
    height: 2rem;
    max-width: calc(100%-3rem);
    flex: 0 0 calc(100% - 3rem);
}

.navbar-toggler {
    background-color: var(--primary);
    border: none;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    flex-flow: row-wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navbar-toggler .fas.fa-bars {
    color: white;
    font-size: 1.25rem;
}

.navbar, .dropdown > ul {
    display: none;
    flex: 0 0 100%;
}

.navbar.open, .dropdown.open > ul {
    display: block;
    z-index: 1;
}

.navbar, .navbar .dropdown > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.navbar .dropdown > ul {
    background-color: var(--primary);
}

.navbar .dropdown {
    padding-right: 0.75rem;
}

.navbar .dropdown > ul a {
    color: white;
}

.navbar .dropdown > ul a:hover {
    background-color: var(--secondary);
}

.navbar .dropdown > a:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
}

.navbar .dropdown.open > a:after {
    content: "\f106";
}

/* 576px | 768px | 992px | 1200px */
@media screen and (min-width: 992px){
    .navbar-brand {
        max-width: 10rem;
        flex: 0 0 10rem;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar.open, .navbar {
        flex-basis: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .dropdown > ul {
        position: absolute;
        width: 9rem;
        text-align: center;
    }
}
/* End of Main Navigation and Header */

/* Footer */
.prefooter {
    background-color: var(--secondary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem;
}

.prefooter h2 {
    color: var(--white);
    margin: 0;
}

.prefooter p {
    color: var(--white);
    margin-top: 0.75rem;
    font-size: 0.8rem;
}

.footer-content {
    background-color: var(--primary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
}

.footer-content p {
    color: var(--white);
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.footer-links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-links a {
    color: var(--white);
    font-size: 0.8rem;
}

.footer-socials a {
    font-size: 2rem;
    color: var(--white);
    margin: 0 0.25rem;
}

.footer-disclaimer {
    margin: 2rem 0 0 0;
}

@media screen and (min-width: 768px) {
    .prefooter p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .footer-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .footer-info p, .footer-links, .footer-socials {
        width: 25%;
    }

    .prefooter, .footer-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* End of Footer */

/* Components */
/* Hero */
.hero-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: auto;
    position: absolute;
}

.hero-title-button {
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.hero-title {
    margin: 0;
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}

@media screen and (min-width: 768px){
    .hero-container {
        height: 37vh;
    }

    .hero-title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px){
    .hero-container {
        height: 53vh;
    }

    .hero-title {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 3rem;
    }
}
/* End of Hero */

/* Breadcrumbs */
.breadcrumbs-container {
    background-color: var(--tertiary);
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    height: auto;
    color: rgb(179, 97, 43);
    font-size: 0.8rem;
}

.breadcrumbs-first, .breadcrumbs-second, .breadcrumbs-third {
    color: rgb(179, 97, 43);
    text-decoration: none;
    font-size: 0.8rem;
}
/* End of Breadcrumbs */

/* Feature */
.feature-container {
    background-color: var(--white);
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;    
}

.feature-container.grey {
    background-color: var(--tertiary);
}

.feature-img{
    background-color:rgb(179, 97, 43);
    width: 100%;
    height: 10rem;
    display: flex;
}

.feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.feature-button {
    background-color:rgb(179, 97, 43);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.feature-button a {
    padding: 0.5rem;
    margin: 0;
    color: white;
    text-decoration: none;
}

.feature-info {
    width: 100%;
    text-align: center;
}

.feature-info p {
    margin: 0 0 1rem 0;
}

.feature-title {
    margin: 0.75rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .feature-img {
        height: 15rem;
    }
}

@media screen and (min-width: 992px) {
    .feature-img {
        width: 30%;
        height: 13rem;
    }

    .feature-info {
        width: 65%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;
        margin-left: 5%;
    }

    .feature-title {
        text-align: left;
    }

    .feature-info p {
        text-align: left;
    }

    .feature-container {
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* End of Feature */

/* How to Buy Info Block */
.how-to-buy {
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.how-to-buy h3 {
    text-align: center;
    margin: 0;
}

.how-to-buy p {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .how-to-buy {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* End of How to Buy Info Block */

/* Shop by Category */
.shop-by-category-container {
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
}

.shop-by-category-container.shop-page {
    background-color: var(--tertiary);
}

.shop-by-category-container h2 {
    color: var(--white);
    margin: 0 0 2rem 0;
}

.shop-by-category-container.shop-page h2 {
    color: var(--primary);
}

.category-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.category-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.category div {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.category div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.category p {
    color: var(--white);
    text-align: center;
    margin-bottom: 2rem;
}

.category.shop-page p {
    color: var(--black);
}

.category {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 1rem;
}

.category-link {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .category div {
        width: 10rem;
        height: 10rem;
    }
}

@media only screen and (min-width: 992px) {
    .category-container {
        flex-flow: row nowrap;
        justify-content: center;
    }

    .category-row {
        width: auto;
    }

    .category div {
        width: 8rem;
        height: 8rem;
    }
}

@media only screen and (min-width: 1200px) {
    .category div {
        width: 9rem;
        height: 9rem;
    }
}
/* End of Shop by Category */

/* Product Card */
.products {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
}

.products h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.even-rows {
    flex: 1 0 34%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product-container {
    background-color: rgb(235, 235, 235);
    width: 140px;
    border-radius: 15px;
    margin: 1rem 0.25rem;
}

.product-img {
    width: 140px;
    background-color:rgb(179, 97, 43);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.product-img img {
    position: aboslute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-container p {
    padding: 0 1rem 0 1rem;
    margin: 0;
}

.product-container .product-name {
    padding-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    height: 3rem;
    width: 100%;
    overflow-wrap: break-word;
}

.product-container .product-price {
    padding-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
}

@media screen and (min-width: 475px) {
    .product-container {
        width: 200px;
    }

    .product-img {
        width: 200px;
    }
}

@media screen and (min-width: 600px) {
    .product-container {
        width: 250px;
    }

    .product-img {
        width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .even-rows {
        flex: 1 0 26%;
    }
}

@media screen and (min-width: 992px) {
    .products {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .product-container {
        width: 300px;
    }

    .product-img {
        width: 300px;
    }
}
/* End of Product Card */

/* FAQ Question and Answer */
.faq {
    background-color: white;
    width: 100%;
    height: 50vh;
    padding: 5% 0 5% 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.faq-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.question-container {
    background-color: rgb(235, 235, 235);
    width: 60%;
    border-radius: 30px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid rgb(179, 97, 43);
}

.question {
    font-size: 1.25rem;
}

.answer-container {
    background-color: rgb(245, 245, 245);
    width: 53%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.answer {
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    .question-container {
        width: 88%;
    }

    .answer-container {
        width: 75%;
    } 
}
/* End of FAQ Question and Answer */

/* Today's Hours */
.hours-container {
    padding: 2rem 0 0 0;
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hours-container h3 {
    margin-top: 0;
    text-align: center;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.hours-container h3 span{
    font-size: 1.25rem;
}

.hours-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#hours-left {
    width: 70%;
    list-style-type: none;
    padding: 0;
    color: var(--white);
    margin: 0;
}

#hours-right {
    width: 70%;
    list-style-type: none;
    text-align: right;
    padding: 0;
    color: var(--white);
    margin: 0;
}

@media screen and (min-width: 430px) {
    .hours-list, .all-hours-links {
        width: 350px;
    }
}
/* End of Today's Hours */

/* Location Description */
.location {
    padding: 2rem;
    background-color: var(--tertiary);
}

.location h1 {
    text-align: center;
    margin: 0;
}

.location p {
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width: 992px) {
    .location {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* End of Location Description */

/* Map */
.map-info-container {
    padding: 2rem;
    text-align: center;
}

.map-info-container p {
    margin-bottom: 2rem;
}

.map {
    width: 100%;
    height: 450px;
    border: 0;
}

@media screen and (min-width: 992px) {
    .map-info-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* Map

/* Contact Info */
.contact-info-container {
    padding: 2rem;
    background-color: var(--tertiary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-info-container p {
    width: 295px;
    margin: 0.5rem;
}

.contact-info-container h1 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.contact-info-container p a i {
    padding-right: 1rem;
    color: var(--black);
}

form {
    width: 100%;
}

.contact-info-container h4 {
    color: var(--black);
    text-align: center;
}

.form-control input, .form-control textarea {
    width: 100%;
    border: 2px solid var(--primary);
    line-height: 1.25rem;
    font-family: 'Open Sans';
    font-size: 15px;
    background-color: var(--tertiary);
    margin: 0.5rem 0;
}

.form-control input {
    height: 2rem;
}

.form-control textarea {
    height: 7rem;
}

div.submit {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-info-container form label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .contact-info-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    form, .contact-info-container h4 {
        width: 65%;
    }
}
/* End of Contact Info */

/* FAQ */
.faq {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.faq-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.question-container {
    display: none;
}

.question-container.open {
    background-color: var(--tertiary);
    width: 60%;
    border-radius: 30px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.question, .answer {
    font-size: 1rem;
}

.answer-container {
    display: none;
}

.answer-container.open {
    background-color: var(--tertiary);
    width: 53%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 768px) {
    .question-container {
        width: 88%;
    }

    .answer-container {
        width: 75%;
    } 
}
/* End of FAQ */
/* End of Components */

/* 404 Page */
.error-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100vh;
}

.error-page h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

.error-page h2 {
    color: var(--black);
    font-size: 1.25rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
}

.error-page p {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .page-404 {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* End of 404 Page */


/* Contact Form */
.contact-header {
    text-align:center;
    color:rgb(179, 97, 43);
    font-weight: bold;
    font-size: 1.25rem;
}

fieldset {
    margin: 20px 30px;
}

.form-group {
    text-align: center;
}

.form-control input[type='text'],
.form-control input[type='email'],
.form-control input[type='number'],
.form-control textarea {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    width: 35%;
    max-width: 35%;
    border: 1px solid;
}

.form-control textarea {
    min-height: 5rem;
}


@media screen and (min-width: 992px) {

    .form-group {
        text-align: left;
    }

    .form-control input[type='text'],
    .form-control input[type='email'],
    .form-control input[type='number'],
    .form-control textarea {
        width: 100%;
        max-width: 100%;
    }

    .contact-wrapper {
        margin: 0 25% 0 0;
    }

}
/* End of Contact Form */


/* Contact Form - Buttons */
.btn-wrapper input {
    display: inline-block;
    overflow: hidden;
    padding: 0.375rem 0.75rem;
    margin: 0 auto;
    background-color: burlywood;
    cursor: pointer;
}

/* End of Contact Form - Buttons */

/* Contact Form - Map */

.google-map {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {

    .contact-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;
    }

    .contact-wrapper .row {
        flex: 1 0 40%;
    }

    .contact-wrapper .google-map {
        flex: 1 0 30%;
    }
}

/* End of Contact Form - Map */
