html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    overflow: scroll;
}

td, th {
    border: 1px solid black;
    padding: 1rem;
    text-align: left;
    vertical-align: top;
}

th {
    text-transform: uppercase;
    background-color: lightgrey;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

header, footer{
    background-color: lightgrey;
    padding: 1rem;
    text-align: center;
}

footer {
    margin-top: 3rem;
}

main h1{
    color: green;
}

.headernav {
    width: 100vw;
    height: 15vh;
    background-color: #fafafa;
}

#header-logo {
    height: 15vh;
}

.breadcrumbs-container {
    background-color: #eeeeee;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 2rem;
    width: 100vw;
    height: auto;
    color: rgb(99, 36, 37);
}

.breadcrumbs-first, .breadcrumbs-second, .breadcrumbs-third {
    color: rgb(99, 36, 37);
}

.headernav div {
    padding: 0;
    margin: 0;
    width: 98.5vw;
    display: inline-flex;
    justify-content: left;
}